.tabs {
  margin-top: 50px;
  margin-bottom:0px;
}


.tabs .tab {
  background: #ccc;
  padding: 5px;
  margin: 3px;
  font-size: 2em;
}

.tabs .categorize{
  background: #ccc;
  padding: 5px;
}
.tabs .active {
  background: #efefef;
  border: 1px solid black;
  border-bottom-width: 0;
  margin-bottom: 2px;
}


.content #all{
  width: 100%;
  height: 100%;
  background: #efefef;
}

.content #edit{
  background: #efefef;
  margin-top: 3px;
  height: 140px;
}
.content .description {
  font-size: 1em;
  color: blue;
  margin: 0px;
  padding: 0px;
  float: left;
  height: 10%;
  width: auto;
  background: #efefef;
}
.content .categories{
  font-size: 1em;
  color: red;
  margin: 0px;
  padding-left: 40px;
  float: left;
  height: 10%;
  width: auto;
  background: #efefef;
}

.content .tab {
  display: none;
}

.content .active {
  display: block;
  background: #ccc;
  height: 100%;
  width: 100%;
  margin-top:2px;
}

